<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd" version="3.1">


<!--spring容器初始化-->
        <context-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:applicationContext.xml</param-value>
        </context-param>

        <listener>
            <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
        </listener>

    <!--中文转换过滤器-->
        <filter>
            <filter-name>characterEncodingFilter</filter-name>
            <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
            <init-param>
                <param-name>encoding</param-name>
                <param-value>UTF-8</param-value>
            </init-param>
            <init-param>
                <param-name>forceEncoding</param-name>
                <param-value>true</param-value>
            </init-param>
        </filter>
        <filter-mapping>
            <filter-name>characterEncodingFilter</filter-name>
            <url-pattern>/*</url-pattern>
        </filter-mapping>


    <!-- 配置DispatcherServlet -->
         <servlet>
             <!--servlet名称-->
             <servlet-name>springmvc</servlet-name>
             <!--servlet对应的java类-->
             <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
             <init-param>
                 <!--contextConfigLocation是参数名称,value是配置文件路径.如果不配置,默认[servlet-name]-servlet.xml-->
                 <param-name>contextConfigLocation</param-name>
                 <param-value>/WEB-INF/springmvc-servlet.xml</param-value>
             </init-param>
             <!--启动时立即加载-->
             <load-on-startup>1</load-on-startup>
         </servlet>

         <servlet-mapping>
             <!--请求对应的servlet的名称-->
             <servlet-name>springmvc</servlet-name>
             <!--监听所有请求-->
             <url-pattern>/</url-pattern>
         </servlet-mapping>
</web-app>
